.gallery-page {
  padding: 10px;
  background-color: #f8eca5;
  text-align: center;
  box-shadow: 0 2px 10px 3px black;
  margin-top: 80px;
  margin-left: -20px;
  width: auto;
}

.gallery-page h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: rgba(19, 23, 209, 0.747);
  /* background-size: cover; */
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  padding: 20px;
}

.gallery-img {
  width: 100%;
  height: 70vh;
  border-radius: 8px;
  box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  aspect-ratio: 4 / 3;
}

.gallery-img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .gallery-page {
    margin-left: 0;
    padding: 1rem;
  }

  .gallery-page h1 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);

    margin-bottom: 20px;
  }

  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
  }

  .gallery-img {
    aspect-ratio: 4 / 3;
  }
}

@media (max-width: 480px) {
  .gallery-page h1 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
  }

  .gallery-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .gallery-img {
    aspect-ratio: 4 / 3;
  }
}
